// Minimal starting point — tune as you go.
// Full reference: https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

input {
    keyboard {
        xkb {
            layout "us,ru"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
}

binds {
    Mod+Return { spawn "alacritty"; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }

    Mod+Space { switch-layout "next"; }

    Mod+A { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+D { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+W { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }
    Mod+X { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Mod+V { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }
    Mod+Shift+L { spawn "noctalia" "msg" "session" "lock"; }

    Print { spawn "sh" "-c" "grim - | wl-copy"; }
    Mod+Print { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }

    Mod+S       { screenshot; }        // partial (interactive selection)
    Shift+Alt+S { screenshot-window; } // focused window
    Mod+Shift+S { screenshot-screen; } // full screen

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }

    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Alt+F       { toggle-window-floating; }

    Alt+D { focus-column-right; }
    Alt+A { focus-column-left; }
    Alt+W { focus-workspace-up; }
    Alt+S { focus-workspace-down; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
}
